include setup.py
include AUTHORS
include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.md
recursive-include jobtastic *.py
recursive-include requirements *.txt
recursive-include test_projects *.py
prune jobtastic/*.pyc
prune test_projects/*.pyc
